<main class="movies-list">
  <h1>Movies List</h1>
  <div class="wrapper">
    <div *ngFor="let movie of movies$ | async" class="container">
      <a routerLink="/movies/{{ movie.id }}">
        <figure class="movie-card">
          <img
            class="movie-img"
            src="../../assets/images/movie-covers/{{ movie.img }}"
            alt="movie"
          />
        </figure>
      </a>

      <a class="movie-label" routerLink="/movies/{{ movie.id }}">
        <caption>
          {{
            movie.name
          }}
        </caption>
      </a>
    </div>
    <div *ngIf="!movies$">
      <h1>No movies found</h1>
    </div>
  </div>
</main>
